<header class="site-header">
  <div class="container nav-bar">

    <a routerLink="/" class="logo">
      <span>Digital</span> Smart Guide
    </a>

    <nav>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>

      <a routerLink="/category/finance" routerLinkActive="active">
        Finance
      </a>

      <a routerLink="/category/vehicles" routerLinkActive="active">
        Vehicles
      </a>

      <a routerLink="/category/tech-products" routerLinkActive="active">
        Tech Products
      </a>

      <a routerLink="/category/courses" routerLinkActive="active">
        Courses
      </a>

      <a routerLink="/about" routerLinkActive="active">
        About
      </a>

      <a routerLink="/contact" routerLinkActive="active">
        Contact
      </a>
    </nav>

  </div>
</header>
